@model Kleide.Models.Pirkimas

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pirkimas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kaina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kaina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pvm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pvm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kuponas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kuponas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArApdrausta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArApdrausta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkAsmuoasmensKodas1Navigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkAsmuoasmensKodas1Navigation.AsmensKodas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkAsmuoasmensKodasNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkAsmuoasmensKodasNavigation.AsmensKodas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkMokejimasmokejimo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkMokejimasmokejimo.MokejimoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UzsakymoNumeris" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
