@model IEnumerable<Kleide.Models.AksesuaruKategorija>

@{
    ViewData["Title"] = "Index";
}

<h2>Aksesuarų kategorijos</h2>

<p>
    <a asp-action="Create">Pridėti kategoriją</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Pavadinimas)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pavadinimas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAksesuaruKategorija">Keisti</a> |
                <a asp-action="Details" asp-route-id="@item.IdAksesuaruKategorija">Informacija</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAksesuaruKategorija">Ištrinti</a>
            </td>
        </tr>
}
    </tbody>
</table>
