@model Kleide.Models.Preke

@{
    ViewData["Title"] = "Details";
}

<h2>Informacija</h2>

<div>
    <h4>Prekė</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Pavadinimas
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pavadinimas)
        </dd>
        <dt>
            Dydis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dydis)
        </dd>
        <dt>
            Spalva
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Spalva)
        </dd>
        <dt>
            Aprašymas
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aprasymas)
        </dd>
        <dt>
            Nuotrauka
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nuotrauka)
        </dd>
        <dt>
            Pridejimo data
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PridejimoData)
        </dd>
        <dt>
            Nuomos skaičius
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NuomosSkaicius)
        </dd>
        <dt>
            Būklė
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bukle)
        </dd>
        <dt>
            Pagaminimo šalis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PagaminimoSalis)
        </dd>
        <dt>
            Rankų darbo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArRankuDarbo)
        </dd>
        <dt>
            Rezervavimo tipas
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RezervavimoTipas)
        </dd>
        @* <dt>
                Nuomos numeris
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FkNuomanuomosNumerisNavigation.NuomosNumeris)
            </dd>
            <dt>
                Pirkimo numeris
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FkPirkimasuzsakymoNumerisNavigation.UzsakymoNumeris)
            </dd>
            <dt>
                Sandelys
            </dt>*@
        <dd>
            @Html.DisplayFor(model => model.FkSandelysidSandelysNavigation.IdSandelys)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPreke">Edit</a> |
    <a asp-action="Index">Grįžti į sąrašą</a>
</div>
