@model Kleide.Models.Preke

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Preke</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pavadinimas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pavadinimas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dydis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dydis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Spalva)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Spalva)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aprasymas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aprasymas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nuotrauka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nuotrauka)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PridejimoData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PridejimoData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NuomosSkaicius)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NuomosSkaicius)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bukle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bukle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PagaminimoSalis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PagaminimoSalis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArRankuDarbo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArRankuDarbo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RezervavimoTipas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RezervavimoTipas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkNuomanuomosNumerisNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkNuomanuomosNumerisNavigation.NuomosNumeris)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkPirkimasuzsakymoNumerisNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkPirkimasuzsakymoNumerisNavigation.UzsakymoNumeris)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkSandelysidSandelysNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkSandelysidSandelysNavigation.IdSandelys)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPreke">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
