@model IEnumerable<Kleide.Models.Preke>

@{
    ViewData["Title"] = "Index";
}

<h2>Prekės</h2>
<p>
    @Html.ActionLink("Suknelės", "Index", "sukneles")
    @Html.ActionLink("Avalynė", "Index", "avalynes")
    @Html.ActionLink("Aksesuarai", "Index", "aksesuaras")
</p>
<p>
    <a asp-action="Create">Pridėti naują</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pavadinimas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dydis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spalva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aprasymas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nuotrauka)
            </th>
            <th>
                Pridejimo data
            </th>
            <th>
                Nuomos skaicius
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bukle)
            </th>
            <th>
                Pagaminimo salis
            </th>
            <th>
                Ar ranku darbo
            </th>
            <th>
                Rezervavimo tipas
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pavadinimas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dydis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spalva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aprasymas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nuotrauka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PridejimoData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NuomosSkaicius)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bukle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PagaminimoSalis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArRankuDarbo) 
                    @* @Html.DisplayFor(modelItem => item.ArRankuDarbo)*@
                    @if (@item.ArRankuDarbo.Value)
                    {
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RezervavimoTipas)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPreke">Keisti</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPreke">Informacija</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPreke">Ištrinti</a>
                </td>
            </tr>
        }
    </tbody>
</table>
