@model Kleide.Models.Avalyne

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Avalyne</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MedziagosTipas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MedziagosTipas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Uzsegimas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uzsegimas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pobudis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pobudis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuKulniuku)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuKulniuku)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lytis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lytis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkPrekeidPrekeNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkPrekeidPrekeNavigation.IdPreke)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAvalyne" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
