@model IEnumerable<Kleide.Models.Suknele>

@{
    ViewData["Title"] = "Index";
}

<h2>Sukneles</h2>
<p>
    @Html.ActionLink("Prekes", "Index", "prekes")
    @Html.ActionLink("Avalyne", "Index", "avalynes")
    @Html.ActionLink("Aksesuarai", "Index", "aksesuaras")
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ilgis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Audinys)
            </th>
            <th>
                Modelio tipas
            </th>
            <th>
                Sukneles preke
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ilgis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Audinys)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelioTipas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkPrekeidPrekeNavigation.Pavadinimas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SuknelesNumeris">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SuknelesNumeris">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SuknelesNumeris">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
