@model Kleide.Models.Nuoma

@{
    ViewData["Title"] = "Nuoma";
}

<h2>Nuomos informacija</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RezervavimoData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RezervavimoData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GrazinimoData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GrazinimoData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kaina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kaina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pvm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pvm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kuponas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kuponas)
        </dd>
    </dl>
</div>
