@model Kleide.Models.Nuoma

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Nuoma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RezervavimoData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RezervavimoData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GrazinimoData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GrazinimoData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kaina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kaina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pvm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pvm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kuponas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kuponas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkAsmuoasmensKodas1Navigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkAsmuoasmensKodas1Navigation.AsmensKodas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkAsmuoasmensKodasNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkAsmuoasmensKodasNavigation.AsmensKodas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkMokejimasmokejimo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkMokejimasmokejimo.MokejimoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NuomosNumeris">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
