@model IEnumerable<Kleide.Models.Nuoma>

@{
    ViewData["Title"] = "Index";
}

<h2>Mano Nuomotos prekės</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RezervavimoData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrazinimoData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kaina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pvm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kuponas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RezervavimoData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrazinimoData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kaina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pvm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kuponas)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NuomosNumeris">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.NuomosNumeris">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NuomosNumeris">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
