@model Kleide.Models.Aksesuaras

@{
    ViewData["Title"] = "Details";
}

<h2>Informacija</h2>

<div>
    <h4>Aksesuaras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Metalo tipas
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MetaloTipas)
        </dd>
        <dt>
            Su grandinėle
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArSuGrandinele)
        </dd>
        <dt>
            Elektroninis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArElektroninis)
        </dd>
        <dt>
            Lytis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lytis)
        </dd>
        <dt>
            Aksesuaro kategorija
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkAksesuaruKategorijaidAksesuaruKategorijaNavigation.IdAksesuaruKategorija)
        </dd>
        <dt>
            Aksesuaro prekė
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkPrekeidPrekeNavigation.IdPreke)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAksesuaras">Edit</a> |
    <a asp-action="Index">Grįžti į sąrašą</a>
</div>
